ul {
    list-style-type: none;
    margin: 0;
    border: 0;
  }
  li {
      display: inline;
  }
  .left a{
    float: left
  }
  .right {
    float: right
  }
  a {
    text-align: center;
    padding: 5px 8px;
  }
h1 {
    margin-top: 200px;
    text-align: center;
    }
form input[type=text] {
    margin-bottom: 10px;
    width: 400px;
  }